@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* Montserrat */
	@font-face {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 500;
		src: url('./assets/fonts/Montserrat/static/Montserrat-Medium.ttf');
	}

	@font-face {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 700;
		src: url('./assets/fonts/Montserrat/static/Montserrat-Bold.ttf');
	}

	/* Fraunces */
	@font-face {
		font-family: 'Fraunces';
		font-style: normal;
		font-weight: 700;
		src: url('./assets/fonts/Fraunces/static/Fraunces_9pt-Bold.ttf');
	}
}
